<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" />
</head>
<body>
  <% include partials/_header %>

  <% if (isUserLoggedIn === false) { %>
    <p>Please register or login to shorten URLs.</p>
  <% } %>

  <% if (isUserLoggedIn === true) { %>
    <h2>My Urls</h2><br>
    <ul class="list-group">
    <% for (var key in currentUserUrls) { %>
        <% if (currentUserUrls.hasOwnProperty(key)) { %>
          <li class="list-group-item">
            <a href="http://localhost:8080/<%= key %>" target="_blank">http://localhost:8080/<%= key %></a> - <%= currentUserUrls[key] %>
            <form method="POST" action="/urls/<%= key %>/delete" class="form-inline float-right">
              <input type="submit" value="Delete" class="btn btn-primary">
            </form>
            <a href="urls/<%= key %>" class="btn btn-primary float-right update-btn">Update</a>
          </li>
        <% } %>
      <% } %>
    </ul>
    <% if (currentUserHasUrls === false) { %>
       <p>No urls yet.</p>
    <% } %>
  <% } %>
</body>
</html>
